.popup{
    font-family: Inter,Arial,Helvetica,sans-serif;
    font-style: normal;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-property: opacity, height;
    transition-duration: .3s, 0s;
    transition-delay: 0s, .3s;
    visibility: hidden;
}