.popup__container{
    display: flex;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    flex-direction: column;
    width: 430px;
    height: 330px;
}

@media screen and (max-width: 600px) {
    .popup__container {
        width: 282px;
        height: 322px;
    }
}