.popup__user-name{
    width: 358px;
    height: 27px;
    position: absolute;
    top: 111px;
    left: 36px;
}
@media screen and (max-width: 600px) {
    .popup__user-name {
        width: 238px;
        top: 122px;
        left: 22px;
    }
}